<%- include("header") -%>
<h2>This is an about page</h2>

<p>Lorem ipsum dolor sit amet. Et rerum voluptatem vel optio animi est nesciunt impedit. Est Quis voluptates est alias corrupti aut deserunt culpa At deserunt rerum ad ratione quidem.</p>

<%- include("footer") -%>